- name: Configurações genericas
  hosts: all
  become: true
  roles:
    - base
    - user-create
    - time-config
    - ssh-server

- name: Configurações especificas de arq
  hosts: arq
  become: true
  roles:
    - dhcp-server
    - dns-server
    - lvm-config
