- name: Configurações genericas
  hosts: all
  become: true
  roles:
    - role: base
      vars:
        upgrade: "no"
    - user-create
    - time-config
    - ssh-server

- name: Configurações especificas de arq
  hosts: arq
  become: true
  roles:
    - dhcp-server
    - dns-server
    - lvm-config
    - role: user-create
      vars:
        users:
          - name: nfs-ifpb
            password: ifpb
            group: nfs-ifpb
            shell: /usr/sbin/nologin
            system: true
    - nfs-server

- name: Configurações especificas de db
  hosts: db
  become: true
  roles:
    - db-server
    - nfs-client

- name: Configurações especificas de app
  hosts: app
  become: true
  roles:
    - web-server
    - nfs-client

- name: Configurações especificas de cli
  hosts: cli
  become: true
  roles:
    - cliente
    - nfs-client
