- name: Configurações genericas
  hosts: all
  become: true
  roles:
    - base
    - user-create
    - time-config
    - ssh-server

- name: Configurações especificas de arq
  hosts: arq
  become: true
  roles:
    - dhcp-server
    - dns-server
    - lvm-config
    - role: user-create
      vars:
        users:
          - name: nfs-ifpb
            password: ifpb
            group: nfs-ifpb
            shell: /usr/sbin/nologin
            system: true
    - nfs-server
