- name: Install web server
  apt:
    name: apache2
    state: present

- name: Enable web server
  service:
    name: apache2
    state: started
    enabled: true

- name: Copy index.html
  copy:
    src: index.html
    dest: /var/www/html/index.html
    owner: www-data
    group: www-data
    mode: 0644
