- name: install autofs
  package:
    name: autofs
    state: present

- name: enable autofs service
  service:
    name: autofs
    state: started
    enabled: true

- name: configure auto.master
  lineinfile:
    path: /etc/auto.master
    line: "/- /etc/auto.nfs"
  notify: restart autofs

- name: configure auto.nfs
  copy:
    content: "{{ mount_dir }} -fstype=nfs,rw,soft,intr,timeo=300,retrans=3  {{ remote_host }}:{{ remote_dir }}"
    dest: /etc/auto.nfs
  notify: restart autofs
